/iOS/PlantPal/PlantPal2.0.xcodeproj/project.xcworkspace/xcuserdata/
/RecogAlgorithms/plant_classification/pyimagesearch/__init__.pyc
/RecogAlgorithms/plant_classification/pyimagesearch/rgbhistogram.pyc